:root {
  --primary: #0d6efd;
  --dark: #111827;
  --light: #f8f9fa;
}

body {
  margin: 0;
  padding-top: 70px;
  font-family: "Zalando Sans Expanded", Arial, sans-serif;
  background: var(--light);
}

html {
  scroll-behavior: smooth;
}

.zalando-sans-expanded {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.hero {
  border-radius: 24px 24px 24px 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
  padding: 80px 0px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.navbar a:hover {
  text-decoration: underline;
}

/* SECTION */

.card {
  border-radius: 16px;
  border: none;
}

.section-padding {
  padding: 80px 0;
  @media (max-width: 320px) {
    .about {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

/* FOOTER */
footer {
  background: var(--dark);
  color: white;
  text-align: center;
  padding: 40px 0;
}

a {
  color: #0d6efd;
  font-weight: bold;
}

/* RESPONSIVE MOBILE */

header {
  padding: 15px;
}

header h1 {
  font-size: 22px;
  margin: 10px 0;
}

/* Hide separators on mobile */

section {
  margin: 10px;
  padding: 15px;
}

ul {
  padding-left: 20px;
}

footer {
  margin-top: auto;
}

/* FLOATING WHATSAPP */
.wa-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  color: white;
  padding: 12px 18px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.wa-float:hover {
  background: #1ebe5d;
}

@media (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
